<div style="height: 100%;">
    <form class="mx-auto w-25 h-auto shadow p-3 mt-5 bg-body rounded">
        <div class="text-center">
            Authorization
        </div>
        <div class="form-group">
            <label for="login" class="form-label mt-4">Login</label>
            <input type="text" class="form-control" id="login" aria-describedby="loginHelp" placeholder="Enter login"
                onkeyup="checkLogin(this.value)">
        </div>
        <div class="form-group">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password"
                onkeyup="checkPassword(this.value)">
        </div>

        <div class="text-center">
            <button id="submit" type="button" class="btn btn-success mt-3 ml-4">Submit</button>
        </div>
        <div id="serving" class="text-danger text-center">
            <p id="errorInput"></p>
            <p id="error"></p>
        </div>
        <div class="authorization_links">
            <a class="black-text large authorization_links_a" href="https://UniversityTimetable:5000/auth/register"
                style="color: black"> Haven't registered yet?</a>
        </div>
    </form>
</div>
<script src="/js/authorization.js"></script>