<form class="mx-auto col-md-3"> 
    <fieldset class="mt-5">
        <div class="text-center">
            <legend>Registration</legend>
        </div>
        <div class="form-group">
        <label for="login" class="form-label mt-4">Login</label>
        <input type="text" class="form-control" id="login" aria-describedby="loginHelp" autocomplete="off" placeholder="Enter login" onkeyup="checkLogin(this.value)">
        </div>
        <div class="form-group">
        <label for="password" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" onkeyup="checkPassword(this.value)">
        </div>
        <div class="form-group">
        <label for="groupID" class="form-label mt-4">Group number</label>
        <input type="text" class="form-control" id="groupID" placeholder="GroupID" autocomplete="off" onkeyup="checkGroupID(this.value)">
        </div>
    </fieldset>
    <div class="text-center">
        <button id="submit_reg"  type="button" class="btn btn-success mt-3 ml-4">Registration</button>
    </div>
    <div id="serving" class="text-danger text-center">
        <p id="errorInput"></p>
        <p id="error"></p>
    </div>
    <div>
        <a class="black-text large authorization_links_a" href="https://UniversityTimetable:5000/auth/login" style="color: black"> Are you already registered?</a>
    </div>
</form>

<script src="\js\registration.js"></script>